<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Build Your Own Pizza</h1>

    <h2>Size:</h2>
    
    <h2>How Many Toppings?</h2>
    
    <li>Pepperoni</li>
    <li>Sausage</li>
    <li>Chicken</li>
    <li>Mushroom</li>
    <li>Olive</li>
    <li>Green Pepper</li>
    <li>Bananas</li>
    <li>Another Pizza on Top</li>
    <li>Shoes</li>
    
    <input type="checkbox" name="glutenfree" value="glutenfree">Gluten Free Crust? ($2.00 extra)</input>
    
    <h2>Special Instructions (Optional)</h2>
    
    <form action="/build-pizza" method="POST">
        <input type="text" name="instructions"></input>
        <button type="submit">Calculate Price</button>
    </form><a href="/">Never Mind</a>

</body>

</html>