<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Express Pizza!</h1>
    <a href="/specialtyPizza?name=Anchovy+Lovers&price=10">Anchoy Lover's</a>
    <a href="/specialtyPizza?name=Paleo+Pizza&price=12">Paleo Pizza</a>
    <a href="/specialtyPizza?name=Dessert+Pizza&price=13">Dessert Pizza</a>
    <h2>Specialty Pizzas</h2>
    <h2>Custom Pizza</h2>
    <a href="/build-pizza">Build your own!</a>
    <h2>Leave a Review</h2>
    <a href="/review">Click here to leave a review</a>
    <div><img src="pizza.png" alt="pizza"></div>
</body>
</html>