<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Leave a Review</h1><br>
    <form action="/submitReview" method="POST">
        Your Name: <input type="text" name="name"><br>
        Comment: <input type="text" name="comment"><br>
        Rating:<br>
                <label><input type="radio" name="rating" value="5">5 (Best)</label><br>
                <label>       <input type="radio" name="rating" value="4">4</label><br>
                <label>       <input type="radio" name="rating" value="3">3</label><br>
                <label>       <input type="radio" name="rating" value="2">2</label><br>
                <label><input type="radio" name="rating" value="1">1 (Worst)</label><br>
        <input type="submit">
    </form>

  <a href="/">Back to Homepage</a>

</body>

</html>